{{page-title "Application"}}

<section class="hero is-medium is-primary is-bold is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <UserInfo />
    </div>
  </div>
</section>

{{outlet}}